In [1]:
import pyspark

from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, from_unixtime, to_timestamp

In [2]:
spark = SparkSession.builder.appName('earthquake-data-cleaning').getOrCreate()

25/08/10 21:07:05 WARN Utils: Your hostname, recurSe resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/08/10 21:07:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/08/10 21:07:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Note that we will be only using the sample data for earthquake-data-wth-countries.csv which was only taken from 10000 rows of the original data.

In [3]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('earthquake-data-wth-countries.csv')

In [4]:
df.show()

+--------------------+-------------+---------+----------+------------+-----+-----+-------+----+----------+--------------------+--------+
|               place|         time|magnitude|       lat|        long|depth|alert|tsunami|  tz|      type|             country|  region|
+--------------------+-------------+---------+----------+------------+-----+-----+-------+----+----------+--------------------+--------+
|8km SSW of Lytle ...|-631157391770|     2.58|34.1911667|    -117.522| 4.49| null|      0|null|earthquake|United States of ...|Americas|
|24km WNW of Searl...|-631215832260|     2.01|35.8593333|-117.6506667|  0.0| null|      0|null|earthquake|United States of ...|Americas|
|28km N of El Sauz...|-631241139690|      3.3|32.1433333|-116.6288333|  6.0| null|      0|null|earthquake|              Mexico|Americas|
|1km SSW of Artesi...|-631251141040|     1.83|33.8561667|-118.0893333| 0.25| null|      0|null|earthquake|United States of ...|Americas|
|16km SE of Primo ...|-631284369930|     3.02|    32.113|-116.8063333|  6.0| null|      0|null|earthquake|              Mexico|Americas|
|south of the Fiji...|-631286334600|     null|   -26.927|    -176.566| 15.0| null|      0|null|earthquake|                Fiji| Oceania|
|10 km SSW of Sawa...|-631292588380|     null|    35.793|     140.453| 35.0| null|      0|null|earthquake|               Japan|    Asia|
|91 km NNE of Lase...|-631331600890|     null|    -5.923|     111.759|605.0| null|      0|null|earthquake|           Indonesia|    Asia|
|Kermadec Islands ...|-631351025130|     null|   -27.889|    -177.108|135.0| null|      0|null|earthquake|                null|    null|
|1km SW of Westwoo...|-631369460570|     1.82|34.0471667|   -118.4385|  6.0| null|      0|null|earthquake|United States of ...|Americas|
|2 km SSE of Furao...|-631374120000|     null|    17.017|     121.808| 35.0| null|      0|null|earthquake|         Philippines|    Asia|
|15 km NE of Siman...|-631388218290|     null|     17.58|     121.946| 35.0| null|      0|null|earthquake|         Philippines|    Asia|
|7 km N of Agbanna...|-631400163400|     7.21|    17.439|     121.538| 15.0| null|      0|null|earthquake|         Philippines|    Asia|
|21km SW of Little...|-631402302400|     2.03|35.7918333|     -118.05|  6.0| null|      0|null|earthquake|United States of ...|Americas|
|33 km SSE of Adak...|-631448307640|     null|    51.584|    -176.509| 35.0| null|      0|null|earthquake|                null|    null|
|east of the South...|-631460084000|     null|   -59.169|     -20.328| 15.0| null|      0|null|earthquake|                null|    null|
|174 km NW of Sant...|-631474473850|     null|    40.271|     -29.346| 15.0| null|      0|null|earthquake|            Portugal|  Europe|
|162 km ENE of San...|-631483741940|     null|    40.191|     -29.486| 15.0| null|      0|null|earthquake|            Portugal|  Europe|
|east of the South...|-631497764890|     6.68|   -60.052|     -21.755| 10.0| null|      0|null|earthquake|                null|    null|
|193 km WNW of Asa...|-631508164560|     null|   -13.124|     -174.38| 35.0| null|      0|null|earthquake|               Samoa| Oceania|
+--------------------+-------------+---------+----------+------------+-----+-----+-------+----+----------+--------------------+--------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- place: string (nullable = true)
 |-- time: long (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- depth: double (nullable = true)
 |-- alert: string (nullable = true)
 |-- tsunami: integer (nullable = true)
 |-- tz: string (nullable = true)
 |-- type: string (nullable = true)
 |-- country: string (nullable = true)
 |-- region: string (nullable = true)

Let us write the dataframe into parquet first.

In [5]:
df.repartition(4).write.parquet('parquet/', mode='overwrite')

In [6]:
df = spark.read.parquet('parquet/')

I have targetted the data cleaning procedures needed base on the data exploration I've done in pandas. First, let's convert the time column into a useful and readable format. Also, let's check if there are no invalid time or out of range time.

In [7]:
df_fmt_time = df.withColumn('earthquake_datetime', from_unixtime(col('time')/1000)). \
    withColumn('earthquake_datetime', to_timestamp('earthquake_datetime'))

In [8]:
df_fmt_time.printSchema()

root
 |-- place: string (nullable = true)
 |-- time: long (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- depth: double (nullable = true)
 |-- alert: string (nullable = true)
 |-- tsunami: integer (nullable = true)
 |-- tz: string (nullable = true)
 |-- type: string (nullable = true)
 |-- country: string (nullable = true)
 |-- region: string (nullable = true)
 |-- earthquake_datetime: timestamp (nullable = true)

In [9]:
df_fmt_time.filter((df_fmt_time.earthquake_datetime > datetime.fromisoformat('1900-01-01')) & (df_fmt_time.earthquake_datetime < datetime.now())).count()

10000

The filtered dataframe has still the same counts as the original dataframe. The column is also timestamp. Let's now proceed to data cleaning.

In [10]:
df = df_fmt_time

In [11]:
from pyspark.sql import functions as F

In [12]:
df_clean = (df
    .withColumnRenamed('lat', 'latitude')
    .withColumnRenamed('long', 'longitude')
    .select('place', 'earthquake_datetime', 'magnitude', 'latitude', 'longitude', 'depth', 'country', 'region', 'alert', 'tsunami', 'type')
    .filter(
        (F.col('magnitude') >= -1) &
        (F.col('magnitude') <= 10) &
        (F.col('magnitude').isNotNull())
    )
    .filter(
        (F.col('latitude') >= -90) &
        (F.col('latitude') <= 90)
    )
    .filter(
        (F.col('longitude') >= -180) &
        (F.col('longitude') <= 180)
    )
    .filter(
        (F.col('earthquake_datetime') >= datetime.fromisoformat('1900-01-01')) &
        (F.col('earthquake_datetime') <= datetime.fromisoformat('2025-06-30'))
    )
    .dropDuplicates(subset=['place', 'earthquake_datetime'])
    .na.fill({'depth': 0})
           )

In [13]:
df_clean.count()

7635

In [14]:
df_clean.show()

+--------------------+-------------------+---------+----------+------------+-----+--------------------+--------+-----+-------+------------+
|               place|earthquake_datetime|magnitude|  latitude|   longitude|depth|             country|  region|alert|tsunami|        type|
+--------------------+-------------------+---------+----------+------------+-----+--------------------+--------+-----+-------+------------+
|0 km E of Rio Del...|1940-10-22 19:01:00|      4.5|      40.5|      -124.1|  0.0|United States of ...|Americas| null|      0|  earthquake|
|0 km NNE of Ayahu...|1942-11-18 08:19:34|     5.66|   -14.201|     -73.056| 15.0|                Peru|Americas| null|      0|  earthquake|
|0 km NNE of K?r?k...|1938-05-14 14:55:25|     5.36|    39.853|      33.509| 15.0|              Turkey|    Asia| null|      0|  earthquake|
|0 km NNW of Kirtl...|1943-03-09 12:25:25|      4.5|    41.628|     -81.309|  7.0|United States of ...|Americas| null|      0|  earthquake|
|0 km NNW of Ridge...|1945-05-17 23:06:47|      4.6|     36.82|     -121.37|  0.0|United States of ...|Americas| null|      0|  earthquake|
|0 km NNW of Zugli...|1949-02-04 06:29:22|     5.39|    46.464|      13.023| 10.0|               Italy|  Europe| null|      0|  earthquake|
|0 km NW of East R...|1949-08-08 19:00:03|      3.3|     37.95|     -122.32|  0.0|United States of ...|Americas| null|      0|  earthquake|
|0 km S of Kleinlo...|1936-10-03 23:48:35|     5.45|    47.147|      14.849| 10.0|             Austria|  Europe| null|      0|  earthquake|
|0 km WNW of Adelb...|1946-05-30 11:41:19|     5.86|    46.493|       7.555| 15.0|         Switzerland|  Europe| null|      0|  earthquake|
|0 km WSW of Terni...|1939-09-18 08:14:35|     5.49|    47.715|      16.033| 15.0|             Austria|  Europe| null|      0|  earthquake|
|0km E of Desert H...|1947-09-13 04:16:23|     2.67|33.9608333|-116.4998333|  6.0|United States of ...|Americas| null|      0|  earthquake|
|0km ENE of Colton...|1940-07-07 09:50:53|     3.56|34.0763333|-117.3091667|11.94|United States of ...|Americas| null|      0|  earthquake|
|0km ENE of East L...|1949-02-23 09:39:46|     1.95|   34.0325|-118.1648333| 4.64|United States of ...|Americas| null|      0|  earthquake|
|0km ENE of Glendo...|1936-11-19 10:08:16|     1.98|34.1373333|-117.8611667| 0.01|United States of ...|Americas| null|      0|quarry blast|
|0km ENE of Ocotil...|1940-10-26 19:21:24|     3.22|33.1438333|   -116.1285|  6.0|United States of ...|Americas| null|      0|  earthquake|
|0km ESE of Desert...|1948-12-07 12:53:28|     2.48|33.9601667|-116.4981667|  6.0|United States of ...|Americas| null|      0|  earthquake|
|0km ESE of Lakela...|1948-04-05 18:28:48|     2.82|33.6378333|   -117.3425|  6.0|United States of ...|Americas| null|      0|  earthquake|
|0km ESE of Yorba ...|1949-12-10 10:13:45|     2.99|33.8873333|   -117.8095|  6.0|United States of ...|Americas| null|      0|  earthquake|
|0km N of Carpinte...|1941-10-07 20:05:44|     2.86|34.4016667|-119.5178333|  6.0|United States of ...|Americas| null|      0|  earthquake|
|0km N of Rancho M...|1948-12-08 15:41:21|     2.69|   33.7435|-116.4133333|  6.0|United States of ...|Americas| null|      0|  earthquake|
+--------------------+-------------------+---------+----------+------------+-----+--------------------+--------+-----+-------+------------+
only showing top 20 rows

In [15]:
df_clean.printSchema()

root
 |-- place: string (nullable = true)
 |-- earthquake_datetime: timestamp (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- depth: double (nullable = false)
 |-- country: string (nullable = true)
 |-- region: string (nullable = true)
 |-- alert: string (nullable = true)
 |-- tsunami: integer (nullable = true)
 |-- type: string (nullable = true)

For the cleaning, we have converted the time (milliseconds from the epoch) to a useful and readable datetime format. We have also removed the tz column which has very small non-null values.<br>
We have removed null magnitudes and values that are out of range. Same for depth, latitude, and longitude. We have transformed null depth values to 0 and lastly, we dropped duplicate rows base on place and time.<br>
We can now stage the data to the warehouse and do some further dbt transformations to create data models.

Note: This is just trial cleaning so we can interactively watch the process. Official script is stored in the pipeline folder.