In [40]:
import pyspark

from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, from_unixtime, to_timestamp

In [2]:
spark = SparkSession.builder.appName('earthquake-data-cleaning').getOrCreate()

25/07/26 11:44:42 WARN Utils: Your hostname, recurSe resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/07/26 11:44:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/07/26 11:44:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('earthquake-data.csv')

In [5]:
df.show()

+--------------------+-------------+---------+----------+------------+-----+-----+-------+----+----------+
|               place|         time|magnitude|       lat|        long|depth|alert|tsunami|  tz|      type|
+--------------------+-------------+---------+----------+------------+-----+-----+-------+----+----------+
|8km SSW of Lytle ...|-631157391770|     2.58|34.1911667|    -117.522| 4.49| null|      0|null|earthquake|
|24km WNW of Searl...|-631215832260|     2.01|35.8593333|-117.6506667|  0.0| null|      0|null|earthquake|
|28km N of El Sauz...|-631241139690|      3.3|32.1433333|-116.6288333|  6.0| null|      0|null|earthquake|
|1km SSW of Artesi...|-631251141040|     1.83|33.8561667|-118.0893333| 0.25| null|      0|null|earthquake|
|16km SE of Primo ...|-631284369930|     3.02|    32.113|-116.8063333|  6.0| null|      0|null|earthquake|
|south of the Fiji...|-631286334600|     null|   -26.927|    -176.566| 15.0| null|      0|null|earthquake|
|10 km SSW of Sawa...|-631292588380|     null|    35.793|     140.453| 35.0| null|      0|null|earthquake|
|91 km NNE of Lase...|-631331600890|     null|    -5.923|     111.759|605.0| null|      0|null|earthquake|
|Kermadec Islands ...|-631351025130|     null|   -27.889|    -177.108|135.0| null|      0|null|earthquake|
|1km SW of Westwoo...|-631369460570|     1.82|34.0471667|   -118.4385|  6.0| null|      0|null|earthquake|
|2 km SSE of Furao...|-631374120000|     null|    17.017|     121.808| 35.0| null|      0|null|earthquake|
|15 km NE of Siman...|-631388218290|     null|     17.58|     121.946| 35.0| null|      0|null|earthquake|
|7 km N of Agbanna...|-631400163400|     7.21|    17.439|     121.538| 15.0| null|      0|null|earthquake|
|21km SW of Little...|-631402302400|     2.03|35.7918333|     -118.05|  6.0| null|      0|null|earthquake|
|33 km SSE of Adak...|-631448307640|     null|    51.584|    -176.509| 35.0| null|      0|null|earthquake|
|east of the South...|-631460084000|     null|   -59.169|     -20.328| 15.0| null|      0|null|earthquake|
|174 km NW of Sant...|-631474473850|     null|    40.271|     -29.346| 15.0| null|      0|null|earthquake|
|162 km ENE of San...|-631483741940|     null|    40.191|     -29.486| 15.0| null|      0|null|earthquake|
|east of the South...|-631497764890|     6.68|   -60.052|     -21.755| 10.0| null|      0|null|earthquake|
|193 km WNW of Asa...|-631508164560|     null|   -13.124|     -174.38| 35.0| null|      0|null|earthquake|
+--------------------+-------------+---------+----------+------------+-----+-----+-------+----+----------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- place: string (nullable = true)
 |-- time: long (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- depth: double (nullable = true)
 |-- alert: string (nullable = true)
 |-- tsunami: integer (nullable = true)
 |-- tz: double (nullable = true)
 |-- type: string (nullable = true)

I have targetted the data cleaning procedures needed base on the data exploration I've done in pandas. First, let's convert the time column into a useful and readable format. Also, let's check if there are no invalid time or out of range time.

In [50]:
df_fmt_time = df.withColumn('earthquake_datetime', from_unixtime(col('time')/1000)). \
    withColumn('earthquake_datetime', to_timestamp('earthquake_datetime'))

In [51]:
df_fmt_time.printSchema()

root
 |-- place: string (nullable = true)
 |-- time: long (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- depth: double (nullable = true)
 |-- alert: string (nullable = true)
 |-- tsunami: integer (nullable = true)
 |-- tz: double (nullable = true)
 |-- type: string (nullable = true)
 |-- earthquake_datetime: timestamp (nullable = true)

In [53]:
df_fmt_time.filter((df_fmt_time.earthquake_datetime > datetime.fromisoformat('1900-01-01')) & (df_fmt_time.earthquake_datetime < datetime.now())).count()

4608354

The filtered dataframe has still the same counts as the original dataframe. The column is also timestamp. Let's now proceed to data cleaning.

In [54]:
df = df_fmt_time

In [57]:
df_clean = df.withColumnRenamed('lat', 'latitude').withColumnRenamed('long', 'longitude'). \
    select('place', 'earthquake_datetime', 'magnitude', 'latitude', 'longitude', 'depth', 'alert', 'tsunami', 'type'). \
    filter((df.magnitude >= -1) & (df.magnitude <= 10) & (df.magnitude.isNotNull())). \
    filter((df.lat >= -90) & (df.lat <= 90)). \
    filter((df.long >= -180) & (df.long <= 180)). \
    dropDuplicates(subset=['place', 'earthquake_datetime']). \
    na.fill({'depth': 0})

In [58]:
df_clean.count()

4431443

In [59]:
df_clean.show()

[Stage 53:==========================================>              (9 + 3) / 12]

+--------------------+-------------------+---------+----------------+-----------------+----------------+-----+-------+----------+
|               place|earthquake_datetime|magnitude|        latitude|        longitude|           depth|alert|tsunami|      type|
+--------------------+-------------------+---------+----------------+-----------------+----------------+-----+-------+----------+
|0 km  of The Geys...|2024-10-27 19:39:16|     0.79| 38.779167175293|-122.757331848145| 1.0900000333786| null|      0|earthquake|
|0 km  of The Geys...|2024-11-12 02:15:22|     0.36|           38.78|-122.757833333333|            1.36| null|      0|earthquake|
|0 km  of The Geys...|2024-12-08 06:36:23|     1.08|38.7799987792969|-122.757667541504|1.36000001430511| null|      0|earthquake|
|0 km E of Alamo, ...|2011-01-30 20:50:21|      0.9|           37.85|         -122.027|           4.077| null|      0|earthquake|
|0 km E of Aldrans...|1993-03-30 09:48:08|      0.9|          47.249|           11.458|             5.0| null|      0|earthquake|
|0 km E of Allyn, ...|1996-05-12 06:30:42|      0.9|      47.3856667|     -122.8238333|          13.365| null|      0|earthquake|
|0 km E of Almanor...|2024-11-18 04:22:55|     1.77|40.2183333333333|-121.172166666667|            5.28| null|      0|earthquake|
|0 km E of Avard, ...|2021-11-12 06:06:08|      1.2|         36.6995|     -98.77866667|            7.47| null|      0|earthquake|
|0 km E of AÃ±asco,...|2019-12-07 09:13:07|     2.67|         18.2841|         -67.1311|            91.0| null|      0|earthquake|
|0 km E of Big Lak...|2019-02-25 17:12:50|      0.8|         61.5202|        -149.9383|            41.8| null|      0|earthquake|
|0 km E of Big Lak...|2024-11-08 02:27:17|      1.6|         61.5214|        -149.9457|            39.7| null|      0|earthquake|
|0 km E of Black D...|1991-08-08 03:03:24|      1.4|      47.3078333|     -121.9928333|          -1.277| null|      0| explosion|
|0 km E of Bodelsh...|2005-05-14 09:10:03|      2.5|           48.39|             8.99|            13.0| null|      0|earthquake|
|0 km E of Calinga...|1997-03-15 06:46:17|      3.2|         -31.335|          -69.414|           150.0| null|      0|earthquake|
|0 km E of Carneli...|2004-01-12 11:08:15|      0.4|          39.227|        -120.0768|            10.5| null|      0|earthquake|
|0 km E of Ceriana...|1989-08-31 13:58:25|      2.0|          43.881|            7.778|            10.0| null|      0|earthquake|
|0 km E of Chase, ...|2024-10-06 04:49:35|      1.2|         62.4486|        -150.0826|            15.0| null|      0|earthquake|
|0 km E of Cidra, ...|2006-06-26 12:35:50|      2.8|          18.176|          -66.152|            19.4| null|      0|earthquake|
|0 km E of Claremo...|1988-01-05 22:39:18|      3.3|           38.72|           -87.96|             5.4| null|      0|earthquake|
|0 km E of Cloverd...|1990-07-22 11:02:01|      1.6|      38.8066667|     -123.0086667|            3.52| null|      0|earthquake|
+--------------------+-------------------+---------+----------------+-----------------+----------------+-----+-------+----------+
only showing top 20 rows

In [60]:
df_clean.printSchema()

root
 |-- place: string (nullable = true)
 |-- earthquake_datetime: timestamp (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- depth: double (nullable = false)
 |-- alert: string (nullable = true)
 |-- tsunami: integer (nullable = true)
 |-- type: string (nullable = true)

For the cleaning, we have converted the time (milliseconds from the epoch) to a useful and readable datetime format. We have also removed the tz column which has very small non-null values.<br>
We have removed null magnitudes and values that are out of range. Same for depth, latitude, and longitude. We have transformed null depth values to 0 and lastly, we dropped duplicate rows base on place and time.<br>
We can now stage the data to the warehouse and do some further dbt transformations to create data models.

Note: This is just trial cleaning so we can interactively watch the process. Official script is stored in the pipeline folder.